@page "/"
@inject IJSRuntime JSRuntime;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div id="kanban-canvas">
    <!-- ここにカンバンが表示される -->
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        // コンパニオン モジュールへデータを渡す
        var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/JsInteropKanban.js");

        await module.InvokeVoidAsync("createKanban");

    }
}